//
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "partials/header";
@import "partials/jumbotron";
@import "partials/comicslist";
@import "partials/comic";
@import "partials/merch";
@import "partials/footer";